.achievements{
    margin-top: 20vh;
    width: 100%;
    line-height: 5vh;
    h2{
        font-size: 36px;
        font-weight: 600;
    }
    p{
        margin-top: 2.5vh;
    }
    .experience{
        display: flex;
        margin-left: 2vw;
        margin-top: 7.5vh;
        .left{
            flex: 2;
            padding-right: 5.5vw;
            .row{
                margin-bottom: 3vh;
                .toprow{
                    display: flex;
                    justify-content: space-between;
                    font-size: 18px;
                    font-weight: 500;
                }
                .bottomrow{
                    font-size: 13px;
                    width: 40vw;
                    line-height: normal;
                }
            }
        }
        .right{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10vh;
            img{
                width: 20vw;
            }
            .rightex{
                width: 12vw;
                background-color: rgb(112, 112, 112);
                border-radius: 7px;
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .achievements{
        .experience{
            flex-direction: column;
        }
    }
}