.Header{
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    .navbar{
        ul{
            display: flex;
            gap: 3vw;
            margin-top: 4vh;
            list-style: none;
            padding-left: 0;
            cursor: pointer;
            li{
                cursor: pointer;
                padding: 10px;
                z-index: 100;
            }
            a{
                color: #03844c;
                &:hover{
                    color: white;    
                    transition: color 0.1s ease-in-out 0.1s;
                }
            }
        }
    }
    .menu{
        display: none;
    }
}