.contact{
    margin-top: 20vh;
    width: 100%;
    line-height: 5vh;
    h2{
        font-size: 36px;
        font-weight: 600;
    }
    p{
        margin-top: 2.5vh;
    }
    .context{
        display: flex;
        gap: 4vw;
        a{
            color: white;
        }
        .row{
            display: flex;
            gap: 15px;
        }
    }
}

@media screen and (max-width: 1080px) {
    .contact{
        .context{
            flex-wrap: wrap;
        }
    }
}