.about{
    margin-top: 20vh;
    width: 100%;
    line-height: 5vh;
    position: relative;
    h2{
        font-size: 36px;
        font-weight: 600;
    }
    .body{
        margin-top: 2.5vh;
        margin-left: 2vw;
        text-align: justify;
    }
}
